
<% if (alert.data) { %>
    <%- include(alert.main, { alertData: alert.data, redirectTo: alert.redirectTo }) %>
  <% } else { %>
<div class="get-recomand-container">
    <%- include("recomandDestination") %>
</div>
<h3 class="popular-destinations-title">Popular Destinations</h3>
<div class="centered-content">
    <p>Discover Top Destinations Handpicked Just For You, And Embark on an Unforgettable Journey!</p>
</div>
<div class="destinations-container">
    <% body.destinations.forEach((destination, index) => { %>
        <%- include("destinationCard", { destination: destination }) %>
    <% }); %>

</div>
<% } %>
<%- include(sales.main) %>
