<div class="destination-card card to-destination-card" data-destination="<%= JSON.stringify(destination) %>">
    <img src="<%= destination.img %>" alt="<%= destination.name %>">
    <div class="destination-info" >
        <h3 class="card-title" ><%= destination.name %></h3>
    </div>
</div>