<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Dream Vacation</h3>
            <form id="vacationForm" class="mb-4">
                <div class="form-group">
                    <label for="budget">Budget:</label>
                    <input type="text" class="form-control" id="budget" required>
                </div>
                <div class="form-group">
                    <label for="adults">Number of Adults:</label>
                    <input type="number" class="form-control" id="adults" required>
                </div>
                <div class="form-group">
                    <label for="kids">Number of Kids:</label>
                    <input type="number" class="form-control" id="kids" required>
                </div>
                <div class="form-group">
                    <label for="atmosphere">Vacation Atmosphere:</label>
                    <input type="text" class="form-control" id="atmosphere" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Find Vacation</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Recomandation</h3>
            <div id="recommendedDestination" class="chat-container"></div>
        </div>
    </div>
</div>