
<div id="sales-container">
  <div id="salehead">
    <span class="animated-text">Sales !!!</span>
  </div>  
  <div id="sales">
    <% sales.data.forEach((sale, index) => { %>
      <div class="sale-item">
        <div class="sale-destination">
          <h4><%= sale.destination %></h4>
        </div>
        <img src="<%= sale.picture %>" class="sale-img">
        <div class="sale-content">
          <p>Deal Dates: <%= sale.deal_dates %></p>
          <p>Starting Price: <%= sale.min_price %></p>
        </div>
      </div>
    <% }); %>
  </div>
</div>

