<div class="info-cube">
    <h1>Our Services</h1>
    <p>Discover exciting destinations, find the perfect flight, and read reviews from fellow travelers. Start your journey today with our comprehensive services</p>
<div class="cube-container">
      <div class="cube redirect-to" data-api="/dest">
        <img src="https://www.traveloffpath.com/wp-content/uploads/2022/09/Young-Woman-In-A-White-Summery-Dress-Wandering-A-Tropical-Caribbean-Beach-480x270.jpg.webp" alt="Destinations">
        <p class="description">Find Destination</p>
      </div>
      <div class="cube redirect-to" data-api="/flights">
        <img src="https://www.rd.com/wp-content/uploads/2020/01/GettyImages-1131335393-e1650030686687.jpg" alt="flights">
        <p class="description">Search Flight</p>
      </div>
      <div class="cube redirect-to" data-api="/reviews">
        <img src="https://www.bu.edu/questrom/files/2018/10/Four-Star-Reviews-Daniella-Kupor.jpg" alt="reviews">
        <p class="description">Destinations Review</p>
      </div>
  </div>
</div>