<div id="custom-alert" class="custom-alert">
  <div class="custom-alert-header">
      <%= alertData.header %>
  </div>
  <div class="custom-alert-content">
      <p id="custom-alert-message"><%= alertData.content %></p>
      <button id="custom-alert-ok">OK</button>
  </div>
</div>
