<div class="header-dark">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container">
            <div id="main-menu" class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" href="#">Menu </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/dest">Destinations</a>
                            <a class="dropdown-item" role="presentation" href="/flights">Flights</a>
                            <a class="dropdown-item" role="presentation" href="/reviews">Reviews</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="headline">
                <h1>Last Call</h1>
            </div>
            <div id="user-state">
                <% if (header.attr.auth) { %>
                    <%- include("authDiv/afterAuth") %>
                <% } else { %>
                    <%- include("authDiv/beforeAuth") %>
                    <% } %>

            </div>
        </div>
    </nav>
</div>