<div class="header-dark">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="/img/logo.png" alt="Logo" class="logo">
            </a>
            <div class="container">
                <h1 id="dynamic-title"><%= header.pageTitle %></h1>
                <div id="header-nav-bar" class="nav-buttons-container">
                    <a class="btn btn-primary my-nav-link" href="/home">Home</a>
                    <a class="btn btn-primary my-nav-link" href="/dest">Destinations</a>
                    <a class="btn btn-primary my-nav-link" href="/flights">Flights</a>
                    <a class="btn btn-primary my-nav-link" href="/reviews">Reviews</a>
                </div>
              </div>
              <div class="afterauth"></div>
              <div id="user-state" style="margin-left: auto;">
                <%- include(header.auth) %>
                </div>
            </div>
        </div>
    </nav>
</div>
