.destinations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Spread cards evenly in a row */
  justify-content: center;
}

.popular-destinations-title {
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2em;
  position: relative;
  padding-top: 50px;
  margin-top: 30px;
}
.popular-destinations-title::before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgb(202, 144, 35);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40%;
}
.centered-content {
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
  height: 100%;             /* Take full height of parent */
  text-align: center;       /* Center text within the <p> element */
  margin-top: 20px;
}

.destination-card {
  width: calc(33.33% - 20px); /* Adjust the width to fit three cards per row with some spacing */
  margin: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Add a pointer cursor when hovering over a card */
}

.destination-card img {
  width: 100%;
  height: 180px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.destination-info {
  padding: 10px;
  text-align: center;
}

.destination-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 25px;
  cursor: pointer; /* Add a pointer cursor when hovering over a card */
  color: #ffffff;
}

.card-img-top {
  object-fit: cover;
  max-height: 400px;
}

.card-title {
  color: #ffffff;
  font-size: 36px;
}

.card-text p {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.btn-primary {
  background-color: #007BFF;
  border-color: #007BFF;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Add a pointer cursor when hovering over a button */
}

.btn-primary:hover {
  background-color: #0056b3;
}

#tourismChart {
  display: none;
}

.guests-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guests-group .form-group {
  flex: 1;
}

.guests-group .form-group:not(:last-child) {
  margin-right: 10px;
}

.guests-group .input-group {
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


.form-select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
}

.form-select:hover, .form-select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.duration-select {
  display: flex;
}

.interest-checkbox {
  display: block;
  margin-bottom: 5px;
  font-weight: normal !important;
}

.interest-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.budget-range {
  display: flex;
  align-items: center;
}

.range-divider {
  font-weight: bold;
  margin: 5px;
}

#guestsSelection{
  display: none;
}

.typing-message {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

#typing-destination {
  font-size: 1.2em;
  font-weight: bold;
}

#after-chat-buttons {
  display: none;
}

.dream-vacation-section {
  background-color: #a7b6c28b; /* Adjust the color as needed */
  padding: 20px; /* Optional padding to give some space inside the container */
  border-radius: 10px; /* Optional border-radius to make the corners rounded */
  margin-top: 15px;
}
.dream-vacation-section h2 {
  text-align: center; /* Center the text */
  font-weight: bold;  /* Make the text bold */
}

.range-divider {
  font-weight: bold;
  margin: 0 13px; /* Adds 10px margin to the left and right of the word "to" */
}

#guests {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.col-md-6.d-flex.flex-column {
  background-color: #a7b6c28b; /* Adjust the color as needed */
  padding: 10px; /* Optional padding to give some space inside the container */
  border-radius: 10px; /* Optional border-radius to make the corners rounded */
  margin-top: 15px; /* You can replace this with any color code or name */
}

.duration-input {
  margin-right: 30px;
}
.travel-style-container select {
  width: 127%; /* Adjust the width as needed */
}
.min-budget {
  width: 100%; /* Adjust the width as needed */
}
.duration-input {
  width: 95%; /* Adjust the width as needed for the input */
}

.duration-select {
  width: 100%; /* Adjust the width as needed for the select */
}
.guests-input {
  width: 95%; /* Adjust the width as needed for the guests input */
  display: block; /* Makes the input behave like a block-level element */
}


.unique-destinations-select {
  width: 50%; /* Adjust the width as needed for the unique destinations select */
}
.guests-group {
  width: 78%;
  text-align: center; /* This will center the text of the label */
}

.guests-group label {
  display: inline-block; /* This ensures that the label is treated as an inline-level block container */
  width: 100%; /* This will make the label take the full width of its container */
}

.row.custom-row {
  margin-top: 20px;  /* Adjust this value as needed */
}
.container h1 {
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text horizontally */
margin-top: 20px;
}
.container p {
  text-align: center; /* Center the text horizontally */
}

.centered-bold-text {
  text-align: center;
  font-weight: bold;
}
