.generate-btn {
    background-color: rgb(234, 160, 23);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 100px;
}

.generate-btn:hover {
    background-color: #ff8c00 ;
}

.flights-container {
  display: flex;
  flex-direction: column; /* Makes the cards stack vertically */
  align-items: center; /* Aligns children to the center horizontally */
}

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Fjalla One', sans-serif;
}
*:focus {
    outline: none;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.vcenter{
  display:flex;
  align-items:center;
  
}
.flightResults {
  width: 800px;
  margin-left: 10px;
}

.flightResult{
  height:120px;
  margin-top : 16px;
  padding:20px;
  border-radius: 10px;
  box-shadow:0 0 10px #2323;
}
.label{
  font-size:11px;
  letter-spacing:3px;
  padding:4px 0;
  color:#bdc3c7;
  display:flex;
  justify-content:center;
  align-items:center;
}
.value{
  letter-spacing:2px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.infoDiv{
  width:120px;
  padding-left:12px;
}
.timeline{
  width:150px;
}
.symbol{
  height:40px;
  border-bottom:2px solid;
}
.symbol > img{
  height:25px;
}
.duration{
  padding:10px;
  font-size:14px;
  letter-spacing:3px;
}
.symbol img {
    width: 35px;
    height: 35px;
  }
  .flightInfo {
    position: relative;
  }
  
  .flightInfo::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%; /* Adjust the height as needed */
    border-right: 2px solid #bdc3c7; /* Adjust color as needed */
  }

  .choose-btn {
    background-color: rgb(67, 67, 252); /* Blue background */
    color: white; /* White text */
    padding: 15px 23px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to hand on hover */
    display: block; /* Block-level element */
    margin: 10px auto; /* Center horizontally with auto margin */
    text-align: center; /* Center the text */
    font-weight: bold; /* Bold text */
  }
  .choose-btn-container {
    position: absolute; /* Absolute positioning */
    right: 40px; /* Distance from the right edge */
    top: 80%; /* Centered vertically */
    transform: translateY(-50%); /* Centering adjustment */
  }
  

  .choose-btn:hover {
    background-color: rgb(19, 19, 208); /* Darker blue on hover */
  }

  .flights-combination {
    margin: 10px 0; /* Space between flight combinations */
    max-width: 1000px; /* Example width, adjust as needed */
}

  
  .bordered-flight-container {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    align-items: flex-start; /* Aligns children to the left */
    border: 2px solid #bdc3c7; /* Border color */
    padding: 5px; /* Padding inside the border */
    border-radius: 10px; /* Rounded corners */
    width: 1000px;
    position: relative; /* Enables absolute positioning for children */
    margin: auto; /* Centers the block element */

  }
  
  
  .flight-section {
    border-bottom: 1px solid #eaeaea; /* Line between sections */
  }
  
  .flight-section:last-child {
    border-bottom: none; /* No line for the last section */
  }
  
  .flight-section h4 {
    margin-bottom: 10px; /* Space below the section title */
    font-weight: bold; /* Bold text for the section title */
  }
  
  .no-return-flight {
    text-align: center; /* Centers the text */
    font-weight: bold; /* Makes the text bold */
    font-size: 20px; /* Increases the font size */
  }

  .no-return-flight-container {
    font-family: 'Fjalla One', sans-serif;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    width: 800px; /* Same width as flight results */
    margin-left: 10px; /* Left margin */
    margin-top: 10px; /* Top margin */
    text-align: center; /* Centers the text horizontally */
    font-weight: bold; /* Makes the text bold */
    font-size: 30px; /* Font size */
    background-color: #f5f5f5; /* Background color */
    box-shadow:0 0 10px #2323;
    justify-content: center; /* Centers the content horizontally */
  }
  

  .total-container {
    position: absolute; /* Absolutely positioned */
    top: 50px; /* Distance from the top */
    right: 30px; /* Distance from the right */
  }

  .total-label, .total-price {
    font-weight: bold; /* Bold text */
    font-size: 30px; /* Font size */
    margin: 0; /* No margin */
  }


  .flights-page {
    overflow-x: hidden;
  
  }
  
  #no-flights-modal {
    width: 50%; 
    margin: 0 auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
#no-flights-modal h4 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center; 
}
#no-flights-modal p {
    font-size: 24px;
    text-align: center; 
    color: #333;
}

