.header-dark {
  position: relative;
  background: #363333e9;
  background-size:cover;
  padding-bottom:80px;
  height: 220px;
}

.logo {
  position: absolute;
  top: 50px;
  left: 25px;
  height: 100px;
}



#dynamic-title {
  text-align: center;
  font-size: 100px;
  color: white;
  font-weight: bold;
  font-family: 'Your Chosen Font', sans-serif;
  margin-bottom: 10px;
}

.nav-buttons-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  top: -30px;
}
.my-nav-link {
  color: #000;
  margin: 0 20px;
  background-color: rgb(234, 160, 23) !important;
  border: none; 
  transition: background-color 0.3s ease; 
  padding: 10px 20px;
  font-size: 18px; 
}

.my-nav-link:hover {
  background-color: #ff8c00 !important;
}

#user-state {
  position: absolute;
  top: 20px;
  right: 20px;
}

.action-button {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgb(202, 144, 35);
  color: white;
  border: none;
}

.auth-buttons {
  position: absolute;
  top: 5px;
  right: 10px;
  white-space: nowrap;
}

.navbar-text .login {
  padding: 10px 18.5px;
  background-color: rgb(202, 144, 35);
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.navbar-text .login:hover {
  background-color: darkorange;
}

#welcome {
  color: white;
  font-weight: bold;
}

#user-state {
  margin-left: auto;
}
