.header-dark {
  position: relative;
  background: #363333e9;
  background-size:cover;
  padding-bottom:80px;
  height: 200px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 10px;
  height: 100px;
}

.nav-buttons-container {
  display: flex;
  justify-content: center; /* This centers the buttons */
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto; /* Increase top and bottom margin */
  position: relative;
  top: 80px; /* Lower the container */
}
.my-nav-link {
  color: #000; /* This sets the button color to black */
  margin: 0 20px; /* Increase space between the links */
  background-color: rgb(234, 160, 23) !important; /* This sets the button background color to orange */
  border: none; /* This removes the button border */
  transition: background-color 0.3s ease; /* This adds a transition effect when the background color changes */
  padding: 10px 20px; /* This adds padding around the text to increase the button size */
  font-size: 18px; /* This increases the text size */
}

.my-nav-link:hover {
  background-color: #ff8c00 !important; /* This sets the button background color to a darker orange when hovered */
}

#user-state {
  position: absolute;
  top: 20px;
  right: 20px;
}

.action-button {
  position: absolute;
  top: 50px;  /* Adjust as needed */
  right: 10px;  /* Adjust as needed */
  background-color: rgb(202, 144, 35);  /* Sets the button color to orange */
  color: white;  /* Sets the button text color to white */
  border: none;  /* Removes the button border */
}

.auth-buttons {
  position: absolute;
  top: 5px;
  right: 10px;
  white-space: nowrap; /* Add this */
}

.navbar-text .login {
  padding: 10px 18.5px; /* Increase padding as necessary */
  background-color: rgb(202, 144, 35);
  color: white;
  border-radius: 5px; /* Round the corners */
  text-decoration: none; /* Remove underline */
}

.navbar-text .login:hover {
  background-color: darkorange; /* A darker shade when hovered */
}

#welcome {
  color: white;
  font-weight: bold;
}









/* .menu-dropdown .dropdown-menu {
  background-color: orange;
  border-radius: 10px;
}

.menu-dropdown {
  position: absolute;
  background-color: orange;
  border-radius: 10px;
  width: 160px;
  height: 90px;
  top: 40px; 
  left: 50%; 
  transform: translateX(-50%)
}

.dropdown-toggle {
  font-size: 40px;
  text-align: center;
}
.dropdown-toggle::after {
  display: none;
} */