.order-form {
  padding: 15px; /* Padding inside the border */
  border-radius: 10px; /* Rounded corners */
  background-color: #a7b6c28b; /* Background color */
  margin-bottom: 20px;
}

#flight-details {
  padding: 15px; /* Padding inside the border */
  border-radius: 10px; /* Rounded corners */
  background-color: #a7b6c28b; /* Background color */
  margin-bottom: 20px;
}

h1.text-center {
  font-weight: bold; /* Bold text */
}

p.text-center {
  font-size: 18px; /* Larger font size */
}
button[type="submit"] {
  width: 100%;
}

.label-text {
  font-weight: bold;
}

.confirmation-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.confirmation-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px; /* Rounded corners */
  text-align: center;
  width: 50%; /* Set the width to 50% of the viewport */
  max-width: 600px; /* Maximum width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.confirmation-content p {
  font-size: 20px; /* Larger font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 20px; /* Space below the text */
}

#go-home-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(234, 160, 23);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#go-home-btn:hover {
  background-color: #ff8c00; /* Background color on hover */
}

.confirmation-content h1 {
  font-size: 40px; /* Font size */
  color: rgb(234, 160, 23); /* Text color */
  margin-bottom: 20px; /* Space below the text */
  font-weight: bold; /* Bold text */

}

.passanger {
  margin-right: 5%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-section {
  padding: 0 20px 20px 20px;  /* Optional: Add some padding for better appearance */
  border-radius: 10px;  /* Optional: Round the corners for a smoother look */
  margin-bottom: 10px;
}

.text-center.mb-4 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px; /* Rounded corners */
}

.order-summary {
  display: flex;
  align-items: center;
  gap: 10px; /* space between the price and the button */
}

#totalPrice {
  font-size: 18px;
  font-weight: bold;
}