#salehead {
  text-align: center;
  font-weight: bold
}

#sales {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap; /* This will ensure items are arranged in a row and wrapped */
}

.sale-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  margin: 20px;
  width: calc(18% - 40px); /* 20% width minus margin */
  text-align: center;
}

.sale-img {
  width: 250px; /* Adjust to the desired size */
  height: 250px; /* Same as the width to make it square */
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}




.sale-destination {
  padding: 10px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #363333e9;
  font-weight: bold;
}

.sale-content {
  padding: 10px;
  height: 25%;
  color: #363333e9;
}

.sale-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}


#salehead {
  text-align: center;
  overflow: hidden; /* hide the part of animated text that goes outside this div */
  white-space: nowrap;
  font-size: 2em;
  position: relative; /* added to position the line correctly */
  padding-top: 30px; /* padding at the top to make space for the line */
  margin-top: 30px;
}

#salehead::before {
  content: ""; /* empty content to create a line */
  display: block; /* display as a block element */
  width: 80%; /* full width of the container */
  height: 1px; /* thickness of the line */
  background-color: rgb(202, 144, 35); /* color of the line */
  position: absolute; /* absolute position within #salehead */
  top: 0; /* at the top of the container */
  left: 50%; /* center the element horizontally */
  margin-left: -40%;
}


#show-more-btn {
  padding: 10px 20px;
  background-color: #363333e9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px; /* Fixed width */
  text-align: center; /* Center the text */
  margin-bottom: 10px;
  border-radius: 5px;
}

#show-more-btn:hover {
  background-color: #202020;
}


.hidden-deal {
  display: none;
}

.toggle-btn {
  padding: 10px 20px;
  background-color: #363333e9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px; /* Fixed width */
  text-align: center; /* Center the text */
  margin-bottom: 10px;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #202020;
}
