#sales-container {
  margin-bottom: 50px;
}
#sales {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
}

.sale-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: calc(18% - 40px);
  text-align: center;
}

.sale-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.sale-destination {
  padding: 10px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #363333e9;
  font-weight: bold;
}

.sale-content {
  padding: 10px;
  height: 25%;
  color: #363333e9;
}

.sale-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#sale-head {
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2em;
  position: relative;
  padding-top: 50px;
  margin-top: 30px;
}

#sale-head-desc {
  margin-top: 20px;
  margin-bottom: 0;
}

#sale-head::before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgb(202, 144, 35);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40%;
}

#show-more-btn {
  padding: 10px 20px;
  background-color: #363333e9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

#show-more-btn:hover {
  background-color: #202020;
}

.hidden-deal {
  display: none;
}

.toggle-btn {
  padding: 10px 20px;
  background-color: #363333e9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #202020;
}
