.search-bar {
  background-color: #363333e9;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center horizontally */
}

#flight-search-form {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  margin-right: 5px; /* Add right margin */
  margin-bottom: 2px;
  flex-basis: calc(100% / 9);
  background-color: #ffffff;
}

.departure-field {
  border-radius: .75rem 0 0 .75rem;
}

.travelers-field {
  border-radius: 0 0.75rem 0.75rem 0;
}


.form-field label {
  font-weight: bold;
  color: grey;
}

.form-field input {
  border: none;
  outline: none;
  background: #ffffff;
  flex-grow: 1;
  border-radius: 5px;
  height: 40px;
}

.search-flight-submit {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 15px;
  flex-basis: 10%;
}

.search-flight-submit:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .form-field {
    flex-basis: 100%;
  }
}


