.info-cube {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  position: relative; /* Added to position the line correctly */
  padding-top: 30px; /* Increased padding to make space for the line */
}

.info-cube::before {
  content: ""; /* empty content to create a line */
  display: block; /* display as a block element */
  width: 80%; /* full width of the container */
  height: 1px; /* thickness of the line */
  background-color: rgb(202, 144, 35); /* color of the line */
  position: absolute; /* absolute position within #salehead */
  top: 0; /* at the top of the container */
  left: 50%; /* center the element horizontally */
  margin-left: -40%;
}

.info-cube h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}
  
  .cube-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  

  .cube {
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .cube:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  }
  
  .cube img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .cube .description {
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    color: #666;
  }
  