.info-cube {
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.info-cube::before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgb(202, 144, 35);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40%;
}

.info-cube h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.cube-container {
  justify-content: space-around;
}

.cube {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  margin: 20px 40px 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cube:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.cube img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cube .description {
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  color: #666;
   margin-top: auto;
}