.header-dark {
    background:url(../../assets/img/mountain_bg.jpg) #444;
    background-size:cover;
    padding-bottom:80px;
  }

#main-menu {
  width: 33%;
}
#headline {
  width: 33%;
}
#auth {
  width: 33%;
}
  
  @media (min-width:768px) {
    .header-dark {
      padding-bottom:120px;
    }
  }
  
  .header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top:.75rem;
      padding-bottom:.75rem;
    }
  }
  
  .header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
    
  }
  
  .header-dark .navbar .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  .header-dark .navbar .navbar-collapse span {
    margin-top:5px;
  }
  
  .header-dark .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-dark .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header-dark .navbar .navbar-toggler {
    border-color:#747474;
  }
  
  .header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background:none;
  }
  
  .header-dark .navbar .navbar-toggler {
    color:#eee;
  }
  
  .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color:#636363;
  }
  
  @media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color:#d9d9d9;
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color:#fcfeff !important;
    background-color:transparent;
  }
  
  .header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background:#ebeff1;
  }
  
  .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .header-dark .navbar .action-button:hover {
    background:#269d9d;
  }
  
  .header-dark .navbar .form-inline label {
    color:#ccc;
  }
  
  .header-dark .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header-dark .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }
  
  .header-dark .hero {
    margin-top:60px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero {
      margin-top:20px;
    }
  }
  
  .header-dark .hero h1 {
    color:#fff;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero h1 {
      margin-bottom:50px;
      line-height:1.5;
    }
  }
  
  .header-dark .hero .embed-responsive iframe {
    background-color:#666;
  }

  /* landing page css */
  
  .cube-container {
    display: flex;
    flex-direction: row;
  }
  
  .cube {
    display: flex; /* Add flex display */
    flex-direction: column; /* Arrange children in a column */
    justify-content: flex-start; /* Align children to the top */
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .cube img {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    color: #333;
    margin-top: auto;

  }

.info-cube {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* search bar css */

.search-bar {
  background-color: #f1f1f1;
  padding: 20px;
}

#flightSearchForm {
  display: flex;
  align-items: center;
}

.form-field {
  margin-right: 10px;
}

input[type="text"],
input[type="date"] {
  padding: 5px;
  margin-right: 10px;
}

.search-flight-submit {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.search-flight-submit:hover {
  background-color: #45a049;
}

/* review css */
.head {
  display: flex;
  justify-content: center;
  margin: 10px; 
  padding: 10px;
}
.heading {
  margin: 10px; 
  padding: 10px;
}

.review {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.reviewer-name {
  font-size: 16px;
  font-weight: bold;
}

.review-date {
  font-size: 14px;
  color: #666;
}

.review-body {
  margin-bottom: 10px;
}

.review-dest {
  font-size: 14px;
  font-weight: bold;
}

.review-rank {
  font-size: 14px;
  color: #666;
}

.review-content {
  font-size: 14px;
  line-height: 1.6;
}

/* Optional: Add hover effect */
.review:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;
}


/* Styling for Filter Bar */
.review-filter-bar {
  margin-bottom: 20px;
  padding-bottom: 10px; /* Add padding to create space for the separation line */
  border-bottom: 1px solid #ccc; /* Add a separation line using a border */
}

.review-filter-bar h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-filter-bar label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.review-filter-bar select {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for Sorting Bar */
.review-sorting-bar {
  margin-bottom: 20px;
}

.review-sorting-bar select {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
}

.review-sorting-bar label {
  margin-left: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

/* Style for the close button */
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Style for the button to open the modal */
#add-review-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

/* Optional: Add hover effect */
#add-review-btn:hover {
  background-color: #45a049;
}
  
#salehead {
  text-align: center;
}

#sales {
  display: flex;
  justify-content: center;  /* This will center the items horizontally */
}

#sales .sale-item {
  position: relative;
  border: 1px solid #000; 
  padding: 50px; 
  margin: 25px; 
  width: 15%; 
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,1); 
  background-size: cover;
  background-repeat: no-repeat;
}

#sales .sale-item h4 {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: bold; /* Make the text bold */
}

#sales .sale-item:hover {
  cursor: pointer;
}


.about-section{
	position:relative;
	padding:120px 0px;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
	padding-top:50px;
	padding-right:100px;
}

.about-section .content-column .text{
	position:relative;
	color:#777777;
	font-size:15px;
	line-height:2em;
	margin-bottom:40px;
}

.about-section .content-column .email{
	position:relative;
	color:#252525;
	font-weight:700;
	margin-bottom:50px;
}

.about-section .image-column{
	position:relative;
	margin-bottom:50px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:50px;
}

.about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	left:40px;
	bottom:100px;
	z-index:-1;
	border:2px solid #d7a449;
}

.about-section .image-column .inner-column .image{
	position:relative;
}

.about-section .image-column .inner-column .image:before{
	position:absolute;
	content:'';
	left:-50px;
	bottom:-50px;
	width:299px;
	height:299px;
	background:url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:110px;
	color:#d7a449;
	font-size:68px;
	font-weight:700;
	line-height:105px;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #000000;
}

.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color: #d7a449;
    font-size: 50px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}