<body class="body-content1">
  <footer class="footer1">
    <p class="text-center">&copy; Last Call - Creating unforgettable journeys since 2018</p>
    <p class="text-center">Contact Us: service@lascall.com</p>
  </footer>
</body>
