<body class="body-content1">
  <footer class="footer1">
    <p class="text-center">&copy; Last Call - Creating Unforgettable Journeys Since 2018</p>
    <p class="text-center">Contact Us: lastcall2018@gmail.com</p>
  </footer>
</body>
