<p><span class="label-text">Flight Number:</span> <span id="flightNumber"></span></p>
<p><span class="label-text">Departure Country:</span> <span id="departureCountry"></span></p>
<p><span class="label-text">Departure City:</span> <span id="departureCity"></span></p>
<p><span class="label-text">Source:</span> <span id="source"></span></p>
<p><span class="label-text">Departure Date:</span><span id="departureDate"></span></p>
<p><span class="label-text">Departure Time:</span> <span id="departureTime"></span></p>
<p><span class="label-text">Duration:</span> <span id="duration"></span></p>
<p><span class="label-text">Airline Name:</span> <span id="airlineName"></span></p>
<p><span class="label-text">Departure Airport:</span> <span id="departureAirport"></span></p>
<p><span class="label-text">Departure Terminal:</span> <span id="departureTerminal"></span></p>
<p><span class="label-text">Arrival Country:</span> <span id="arrivalCountry"></span></p>
<p><span class="label-text">Arrival City:</span> <span id="arrivalCity"></span></p>
<p><span class="label-text">Destination:</span> <span id="destination"></span></p>
<p><span class="label-text">Arrival Date:</span> <span id="arrivalDate"></span></p>
<p><span class="label-text">Arrival Time:</span> <span id="arrivalTime"></span></p>
<p><span class="label-text">Arrival Airport:</span> <span id="arrivalAirport"></span></p>
<p><span class="label-text">Arrival Terminal:</span> <span id="arrivalTerminal"></span></p>
<p><span class="label-text">Price:</span> <span id="price"></span></p>