<div class="search-bar">
  <form id="flight-search-form">
    <div class="form-field departure-field">
      <label for="departure">Departure:</label>
      <input type="text" id="departure" name="departure" required placeholder="Enter departure location" value="<%= defaultDep %>">
  </div>
  

    <div class="form-field">
      <label for="destination">Destination:</label>
      <input type="text" id="destination" name="destination" required placeholder="Enter destination city">
    </div>

    <div class="form-field">
      <label for="departureDate">Departure Date:</label>
      <input type="date" id="departureDate" name="departureDate" required>
    </div>

    <div class="form-field">
      <label for="returnDate">Return Date:</label>
      <input type="date" id="returnDate" name="returnDate">
    </div>

    <div class="form-field travelers-field">
      <label for="travelers">Number of Travelers:</label>
      <input type="number" id="travelers" name="travelers" min="1" required placeholder="Enter number of travelers">
  </div>
  

    <button class="search-flight-submit" type="submit">Search Flights</button>
  </form>
</div>
