<div class="get-recomand-container">
    <%- include("../recomandDestination") %>
</div>


<h3>Popular Destinations</h3>
<div class="destinations-container">
    <% body.destinations.forEach((destination, index) => { %>
        <%- include("../destinationCard", { destination: destination }) %>
    <% }); %>

</div>
<%- include(sales.main) %>