<div class="get-recomand-container">
    <%- include("../recomandDestination") %>
</div>


<h1 class="popular-destinations-title">Popular Destinations</h1>
<div class="destinations-container">
    <% body.destinations.forEach((destination, index) => { %>
        <%- include("../destinationCard", { destination: destination }) %>
    <% }); %>

</div>
<%- include(sales.main) %>
