<div id="details-sidebar" class="details-sidebar">
  <div class="sidebar-header">
    <button id="close-sidebar" class="close-sidebar">&times;</button>
    <h3>Flight Details</h3>
  </div>
  <div id="go-flight-details">
    <hr>
    <h4>Go Flight</h4>
    <div id="flight-details-go">
      <%- include('../flightInfo') %>
    </div>
  </div>
  <div id="return-flight-details">
    <hr>
    <h4>Return Flight</h4>
    <div id="flight-details-return">
      <%- include('../flightInfo') %>
    </div>
  </div>
  <div id="total-price-section">
    <hr>
    <h4>Total Price Per Person: <span id="total-price"></span></h4>
  </div>
  <button id="continue-btn" class="continue-btn">Continue</button>
</div>
