
<div class="info-cube">
    <h1>About Last Call</h1>
    <p>Last Call is Web application for finding flights and travel destinations</p>
</div>
<%- include("../servicesCube") %>
<%- include(sales.main) %>