<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      
      <div class="card">
        <div class="card-body">
          <form action="/register" method="POST" onsubmit="validatePassword()">
            <h1 id="register-heading">Register</h1>
            <div class="border-top my-3"></div>
            <div class="white-bold">
              <label for="username">UserName</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="white-bold">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password">
              <span id="passwordValidationMessage" class="text-danger"></span>
            </div>
            <div class="white-bold">
              <label for="password-authentication">Password Confirmation</label>
              <input type="password" class="form-control" id="password-authentication" name="passwordauth">
            </div>
            <div class="border-top my-3"></div>
            <div class="white-bold">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" name="fname">
            </div>
            <div class="white-bold">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" name="lname">
            </div>
            <div class="white-bold">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="white-bold">
              <label for="country">Country</label>
              <input type="text" class="form-control" name="country">
            </div>
            <div class="border-top my-3"></div>
            <button type="submit" class="btn btn-dark btn-lg btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>

    <div class="card my-custom-card">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
    </div>
    
  </div>
  </div>
