<div class="reviews-page">
    <% if (alert.data) { %>
        <%- include(alert.main, { alertData: alert.data, redirectTo: alert.redirectTo }) %>
      <% } else { %>
    <div class="review-filter-bar">
        <div id="validationData" data-validationData="<%= JSON.stringify(body.validationData) %>"></div>
        <h3>Filters</h3>
        <label for="dest-filter"> Destination</label>
        <input type="text" id="destination-input-filter" class="review-filters" value="All" list="data-options-new">
        <datalist class="data-options" id="data-options-new"></datalist>
        <label for="rank-filter"> Rank</label>
        <select name="rank" id="rank-filter" class="review-filters">
            <option value="all">All</option>
            <option value="9">Over 9</option>
            <option value="7">7-9</option>
            <option value="5">5-7</option>
            <option value="4">Under 5</option>
        </select>
        <button id="add-review-btn" >Add New Review</button>
    </div>
    <div class="new-review">
        <div class="modal" id="add-review-modal">
            <div class="modal-content">
                <span class="close-btn" id="close-modal-btn">&times;</span>
                <h2>Add New Review</h2>
                <form id="review-form" class="form-with-validation">
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" class="data-validation" list="data-options-new" placeholder="Filter destinations">
                    <datalist class="data-options" id="data-options-new">
                    </datalist>
                    <label for="rank">Rank:</label>
                    <input type="number" id="rank" name="rank" step="0.5" min="1" max="10" required>
                    
    
                    <label for="happyContent">Good:</label>
                    <textarea id="happyContent" name="happyContent" required></textarea>
    
                    <label for="badContent">Bad:</label>
                    <textarea id="badContent" name="badContent" required></textarea>
    
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="review-sorting-bar">
        <div class="sort-container">
            <label for="reviews-sort">Sort By:</label>
            <select name="date" id="reviews-sort" onchange="sortReviews()">
                <option value="latest">Latest</option>
                <option value="oldest">Oldest</option>
                <option value="highest">Highest Rank</option>
                <option value="lowest">Lowest Rank</option>
            </select>
        </div>
    </div>
    <div id="reviews-wrapper">
    <div id="reviews-container">
        <% if (body.reviews) { %>
        <% body.reviews.forEach((review) => { %>
            <%- include("reviewCard", { review: review }) %>
        <% })} else { %> 
            <p id="no-reviews">No reviews found</p>
        <% } %>
    </div>
    </div>
    <% } %>
    <%- include(sales.main) %>
</div>
