<div class="auth-buttons">
    <span class="navbar-text"><a href="/login" class="login">Log In</a>
</div>
    <a class="btn btn-light action-button" role="button" href="/register">Sign Up</a></span><div class="auth-buttons">