<section class="about-section">
    <div class="container">
        <div class="row clearfix">
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="title">Home</div>
                        <h2>Your Gateway to the World <br> Simplifying Travel for Everyone</h2>
                    </div>
                    <div class="text">
                        Welcome to Last Call, a destination created by globetrotters Ohad and Or.
                        We're here to simplify your travel planning, offer personalized trip recommendations,
                        and share the best travel deals. Discover, plan, and book your perfect trip with us.
                        Let's make travel planning an exciting part of your journey!
                    </div>
                </div>
            </div>
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="https://w0.peakpx.com/wallpaper/388/84/HD-wallpaper-bora-bora-beach-relax-sea.jpg" alt="">
                        <div class="overlay-box">
                            <div class="year-box"><span class="number">5</span>Years <br> Experience <br> Working</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../generalPartials/servicesCube") %>
<%- include(sales.main) %>

  