<section class="about-section">
    <div class="container">
        <div class="row clearfix">
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="title">About Us</div>
                        <h2>Your Gateway to the World <br> Simplifying Travel for Everyone</h2>
                    </div>
                    <div class="text">Welcome to Last Call, the brainchild of Ohad and Or, two passionate globetrotters and digital nomads. What started as our personal quest to simplify travel planning and flight search quickly turned into a mission to empower millions of travelers around the globe.

                        At Last Call, we understand that everyone's idea of a perfect trip is unique, and finding the best flights and travel plans can often be a daunting task. That's why we've built a platform that not only makes it easy to search for flights but also offers personalized recommendations and options to plan your trip based on your individual preferences.
                        
                        But we didn't stop there.
                        
                        Understanding that real, authentic travel experiences often come from the stories and recommendations of fellow travelers, we've created a space for sharing reviews. Here, you can learn from the experiences of others and even share your own, helping to create a community of informed, savvy travelers.
                        
                        We also know that a great deal can make a good trip even better. That's why we're always on the hunt for the best travel deals, curating and sharing them with you to ensure that you can make the most of your travel budget.
                        
                        So, whether you're planning a quick weekend getaway or the round-the-world adventure of a lifetime, Last Call is here to make the process simpler, smoother, and a whole lot more fun.
                        
                        Join us, and let's make travel planning an exciting part of the journey!</div>
                </div>
            </div>
            <div class="image-column col-md-6">
                <div class="inner-column ">
                    <div class="image">
                        <img src="/img/about.jpg" alt="about data">
                        <div class="overlay-box">
                            <div class="year-box"><span class="number">5</span>Years <br> Experience <br> Working</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include("../generalPartials/servicesCube") %>
<%- include(sales.main) %>