<div class="login-page">
  <div class="login-box">
    <h1 class="mb-4">Login</h1>
    <form action="/login" method="POST" id="login-form">
      <div class="user-box">
        <input type="text" name="username" required>
        <label>UserName</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <a href="#" id="submit-login-form">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        submit
      </a>
      <br>
      <a href="/register">Sign Up</a>
    </form>
  </div>
</div>
