<div id="validationData" data-validationData="<%= JSON.stringify(body.validationData) %>"></div>
<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-body text-center">
            <h1 id="add-flight-heading">Add New Flight</h1>
            <div class="border-top my-3"></div>
            <form action="/admin/add_flight" method="POST" id="add-flight-form" class="form-with-validation">
                <h1 id="add-flight-heading">Go Flight</h1>
                <div class="form-group text-center">
                    <div class="form-group">
                        <label for="goDepAirportCode">Departure Airport IATA</label>
                        <input type="text" class="form-control data-validation" name="goDepAirportCode"
                            list="data-options-new" required>
                        <datalist class="data-options" id="data-options-new"></datalist>
                    </div>
                    <div class="form-group">
                        <label for="depDateTime">Departure Date</label>
                        <input type="datetime-local" class="form-control" name="goDepDateTime" required>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="form-group">
                        <label for="goArrAirportCode">Arrival Airport IATA</label>
                        <input type="text" class="form-control data-validation" name="goArrAirportCode"
                            list="data-options-new" required>
                        <datalist class="data-options" id="data-options-new"></datalist>
                    </div>
                </div>

                <div class="form-group text-center">
                    <div class="form-group">
                        <label for="goAirlineName">Airline Name</label>
                        <input type="text" class="form-control" name="goAirlineName">
                    </div>
                    <div class="form-group">
                        <label for="goAirlineCode">Airline IATA Code</label>
                        <input type="text" class="form-control" name="goAirlineCode" required>
                    </div>
                </div>

                <div class="form-group text-center">
                    <label for="goPrice">Flight Price</label>
                    <input type="number" class="form-control" name="goPrice" min="20" max="1500" required>
                </div>
                <div class="border-top my-3"></div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="returnFlightCheckbox" data-toggle="collapse"
                        data-target="#returnFlightDetails" aria-expanded="false">
                    <label class="form-check-label" for="returnFlightCheckbox">Return Flight</label>
                </div>
                <div class="border-top my-3"></div>
                <div id="returnFlightDetails" class="collapse">
                    <h1 id="add-flight-heading">Return Flight</h1>
                    <div class="form-group text-center">
                        <div class="form-group">
                            <label for="returnAirlineName">Airline Name</label>
                            <input type="text" class="form-control return-detail" name="return[returnAirlineName]">
                        </div>
                        <div class="form-group">
                            <label for="returnAirlineCode">Airline IATA Code</label>
                            <input type="text" class="form-control return-detail" name="return[returnAirlineCode]">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="form-group">
                            <label for="returnDateTime">Departure Date</label>
                            <input type="datetime-local" class="form-control return-detail" name="return[returnDateTime]">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label for="returnPrice">Flight Price</label>
                        <input type="number" class="form-control return-detail" name="return[returnPrice]" min="20" max="1500">
                    </div>
                    <div class="border-top my-3"></div>
                </div>
                <button type="submit" class="btn btn-primary">Add Flight</button>
            </form>
        </div>
    </div>
</div>