
<div class="info-cube">
    <h1>Admin Actions</h1>
<div class="cube-container row">
      <div class="cube redirect-to" data-api="/admin/sale">
        <img src=".\img\sale.png" alt="sale">
        <p class="description">Manage Sales</p>
      </div>
      <div class="cube redirect-to" data-api="/admin/flights">
        <img src="https://m.economictimes.com/thumb/height-450,width-600,imgsize-511935,msid-90117169/india-to-resume-regular-international-flights-from-march-27.jpg" alt="flights">
        <p class="description">Manage Flights</p>
      </div>
      <div class="cube redirect-to" data-api="/admin/auth">
        <img src="https://www.logsign.com/uploads/authorization_and_authentication_0e0a962e49.png" alt="authotization">
        <p class="description">Manage Authorization</p>
      </div>
  </div>
</div>
<div>
    <% if (alert.data) { %>
    <%- include(alert.main, { alertData: alert.data, redirectTo: alert.redirectTo }) %>
    <% } %>
</div>
