
<div class="info-cube">
<div class="cube-container row">
      <div class="cube" id="auto-new-flights">
        <img src="https://s.wsj.net/public/resources/images/B3-AT493_TechTo_SOC_20180611155324.jpg" alt="Get Flights From Suppliers">
        <p class="description">Get Flights From Suppliers</p>
      </div>
      <div class="cube redirect-to" data-api="/admin/add_flight">
        <img src="https://cdn-icons-png.flaticon.com/512/20/20886.png" alt="Add Flight Manually">
        <p class="description">Add a Flight Manually</p>
      </div>
  </div>
</div>