
<div class="info-cube">
<div class="cube-container row">
      <div class="cube redirect-to" data-api="/admin/add_sale">
        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3675715.jpg" alt="Add New Sale">
        <p class="description">Add New Sale</p>
      </div>
      <div class="cube redirect-to" data-api="/admin/delete_sale">
        <img src="https://www.avantixlearning.ca/wp-content/uploads/2022/10/delete-page-page-in-word-featured.png" alt="Delete Sale">
        <p class="description">Delete Sale</p>
      </div>
  </div>
</div>